*

!src/
!src/**/*

!tsk/
!tsk/**/*
.container_engine

!tst/
!tst/*

!tst/hello_c/maul.toml
!tst/hello_c/src/
!tst/hello_c/src/**/*

!tst/hello_cxx/maul.toml
!tst/hello_cxx/src/
!tst/hello_cxx/src/**/*

!.dockerignore
!.gitignore
!.re-mote
!Containerfile
!readme.md
!todo.md